<div class="card">
    <div class="card-header">
        <img class="logo" src="../../assets/images/logo.png" />
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <h3 class="centered">Welcome!</h3>
            <h4 class="centered">Snap a photo of your bill to start</h4>
        </div>
        <div class="row">
            <img src="../../assets/images/search.png" [hidden]="hideButton" (click)="showCamera()">
            <video id="video" autoplay (click)="onScan()" [hidden]="hideVedio"></video>
            <canvas id="canvas" [width]="width" [height]="height" [hidden]="hidePhoto" (click)="goToListingScreen()"></canvas>
            <h4 class="centered" [hidden]="hideVedio">Tap the video to grab a shot!</h4>
        </div>
    </div>
</div>