tr {
    background-color: #efefef;
}

th {
    background-color: #bfbfbf
}

table {
    border-radius: 5px;
}

table,
table th,
table tr,
table td {
    border-spacing: 0px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

button {
    width: 100px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btnNext {
    background-image: url("../../assets/images/btnNext.png");
    float: right;
}

.btnPrev {
    background-image: url("../../assets/images/btnPrev.png");
    float: left;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.itemName {
    font-weight: bold;
}

.itemLocation {
    color: #474747;
}

.logo {
    height: 70px;
}

input {
    margin-right: 20px
}

div.card {
    margin: 20px;
}