<div class="card">
    <div class="card-header">
        <img class="logo" src="../../assets/images/logo.png" />
    </div>
    <div class="col-sm-12 col-xs-12">
        <div class="row">
            <h3 class="centered">Here's what we have for you</h3>
        </div>
        <div class="row">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <p class="itemName"> A2 Pura Full Cream Milk</p>
                            <p class="itemLocation">Woolworths, Glen Huntly road, VIC - 3162</p>
                        </td>
                        <td>2</td>
                        <td>$3.00</td>
                        <td>$6.00</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="itemName"> White Sandwich Bread</p>
                            <p class="itemLocation">Coles, Glen Huntly road, VIC - 3162</p>
                        </td>
                        <td>2</td>
                        <td>$0.65</td>
                        <td>$1.30</td>
                    </tr>
                    <tr>
                        <td>
                            <p class="itemName"> Chef's Special Butter</p>
                            <p class="itemLocation">Aldi, Brighton road, VIC - 3164</p>
                        </td>
                        <td>2</td>
                        <td>$3.00</td>
                        <td>$6.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2"> <strong> Grand Total </strong></td>
                        <td><strong>$17:30</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>
                            <h4><strong>Delivery Slots</strong></h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" value="0">Weekday - 9:00 am to 5:00 pm</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="0">Weekday - 5:00 pm to 9:00 pm</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="0">Weekend - 9:00 am to 5:00 pm</td>
                    </tr>
                    <tr>
                        <td><input type="radio" value="0">Weekend - 5:00 pm to 9:00 pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button type="button" class="btnPrev" routerLink="../list-results"></button>
    <button type="button" class="btnNext" routerLink="../order-summary"></button>